*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
header{
    display: inline-block;
    position: relative;
    background-color: aqua;
    height: 150px;
    width: 80%;
    top: 50px;
    left: 30px;
}
h1{
    color: darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 60px;
    font-weight: bold;
    text-align: center;
    bottom: 50px;
}
h2{
    color: darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 30px;
    text-align: justify;

}
.main{
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: relative;
    width: 80%;
    top: 50px;
    left: 30px;
}

/* .main__section{
    background-color: blueviolet;
    display: inline-block;
    position: absolute;
    left: 0; */
    

.main__articulo1 {
    background-color: blueviolet;
    position: relative;
    display: inline-block;
    width: 46%;
    margin: 20px 20px 20px 20px;
    text-align: justify;
    line-height: 25px;
    
    

    
}
.main__articulo2 {
    background-color: green;
    display: inline-block;
    position: absolute;
    margin: 20px 20px 20px 20px;
    width: 46%;
    text-align: justify;
    line-height: 25px;
    
}
#vertical_navbar{
    background-color: chartreuse;
    position: absolute;
    right: 20px;
    top: 50px;
    height: 500px;
    width: 200px;
}
#vertical_navbar #logo_navbar{
    
    position: absolute;
    height: 60px;
    top: 50px;
    right: 70px;

}
#vertical_navbar #link_Registro{
    position: absolute;
    top: 200px;
    right: 20px;

 
 
}
#vertical_navbar #btn_Registro{
    height: 50px;
    position: absolute;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    top: 200px;
    right: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
h3{
    position: relative;
    margin: 30px 10px 30px 10px;
    text-align: center;
}
h4{
    position:absolute;
    top: 20px;
    right: 60px;
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}